<ion-header [translucent]="false" mode="ios">
  <ion-toolbar>
    <ion-title>Acomodadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acomodadores</ion-title>
    </ion-toolbar>
  </ion-header>


    <table style="width: 100%; font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;">
        
        <tr style=" border: 1px solid #ddd; font-weight: bold;">
            <th style=" border: 1px solid #ddd; font-weight: bold; width: 20%;">Fecha</th>
            <th style=" border: 1px solid #ddd; width: 10%;">Presidente</th>
            <th style=" border: 1px solid #ddd; width: 10%;">Vigilancia</th>
            <th style=" border: 1px solid #ddd; width: 30%;">Vestibulo</th>
            <th style=" border: 1px solid #ddd; width: 30%;">Acomodador 1</th>
            <th style=" border: 1px solid #ddd; width: 30%;">Acomodador 2</th>
            <th style=" border: 1px solid #ddd; width: 30%;">Lector</th>
        </tr>
        <tr >
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
            <td style=" border: 1px solid #ddd;">x</td>
        </tr>


    </table>
    

  


</ion-content>
