<ion-header [translucent]="false" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administración de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administración de Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">Usuarios Admitidos</ion-card-subtitle>
    </ion-card-header>
   <!-- USUARIOS -->
   <div *ngFor="let user of Users; let UserIndex = index">
    <div *ngIf="user.admited">
      <ion-card-content  >
        <ion-card-header>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>{{user.displayName}}</ion-card-title>
              <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
            </ion-col>
            <ion-col size="1"><ion-button  (click)="alertEliminarUserShow(true,user,UserIndex)"  fill="clear" color="danger"><ion-icon  name="trash"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-card-header>
  
        <ion-grid>  
          <ion-row><ion-label class="ion-padding" style="font-size: large; font-weight: bold;">Permisos:</ion-label></ion-row>
          <ion-row>
            
            <ion-col><ion-checkbox (ionChange)="handelrCheckboxAdminChange($event,user,UserIndex)" [(ngModel)]="user.administrador" labelPlacement="end">Administrador (Secretario)</ion-checkbox></ion-col>
            <!-- <ion-col><ion-checkbox labelPlacement="end">Lectura de Reportes</ion-checkbox></ion-col> -->
            <!-- <ion-col ><ion-button expand="block" >Guardar <ion-icon slot="start" name="save-outline"></ion-icon> </ion-button></ion-col> -->
            <!-- <ion-col><ion-checkbox labelPlacement="end">Creación de Roles</ion-checkbox></ion-col> -->
          </ion-row>
  
          <ion-row class="ion-padding">
            <ion-label  style="font-size: large; font-weight: bold;">Acceso a Grupo(s):</ion-label>
            
            <ion-select  placeholder="Seleccionar"  okText="Aceptar" cancelText="Cancelar" [multiple]="true" [value]="this.Users[UserIndex].grupos" (ionChange)="handlerGrupoEncargadoChange($event,user)">
              <div *ngFor="let grupo of Grupos; let i = index">
                <ion-select-option value="{{i}}"  *ngIf="i!=0"> Grupo {{i}}</ion-select-option>
              </div>
            </ion-select>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
   </div>
    
      
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="danger">Usuarios No Admitidos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-header>
      <ion-card-subtitle>Después de admitir por primera vez a un usuario dar de alta como Publicador</ion-card-subtitle>
    </ion-card-header>
  
    <div *ngFor="let user of Users; let UserIndex = index">
      <div *ngIf="!user.admited" >
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                  <ion-card-title>{{user.displayName}}</ion-card-title>
                  <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
              </ion-col>
              <ion-col >
                <ion-button expand="block" (click)="alertAdmitirUserShow(true,user.uid,UserIndex)" >Admitir</ion-button>
              </ion-col>
              <!-- <ion-col ><ion-button color="danger" >Eliminar</ion-button></ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
    </div>
    
  </ion-card>



  <!-- ALERTAS ------------------------------------------------------------------------------------- -->


  <ion-alert 
    [isOpen]="isAlertEliminarUserOpen"
    header="¿Desea Eliminar a este usuario?"
    subHeader="Para reactivarlo vaya a la sección Usuarios no Admitidos"
    [buttons]="alertButtonsEliminarUser"
    (didDismiss)="alertEliminarUserShow(false,0,0)"
    >
  </ion-alert>

  <ion-alert 
    [isOpen]="isAlertAdmitirUserOpen"
    header="¿Desea Admitir a este usuario?"
    subHeader="Al hacerlo el usuario podrá entrar a el sistema"
    [buttons]="alertButtonsAdmitirUser"
    (didDismiss)="alertEliminarUserShow(false,0,0)"
    >
  </ion-alert>


  <ion-alert 
    [isOpen]="isAlertValidacionEliminar"
    header="No es posible Eliminar al usuario"
    subHeader="{{AlertMsg}}"
    [buttons]="alertButtonsValidacionEliminar"
    (didDismiss)="alertValidacionEliminarShow(false)"
    >
  </ion-alert>

  <ion-alert 
    [isOpen]="isAlertNoExisteAdmin"
    header="No es posible retirar los privilegios de administrador"
    subHeader="{{AlertMsg}}"
    [buttons]="alertButtonsNoExisteAdmin"
    (didDismiss)="alertNoExisteAdminShow(false)"
    >
  </ion-alert>
</ion-content>


