table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    
  }

  .table-responsive {
    display: block;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    overflow-x: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }