<ion-content class="ion-padding" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">Bienvenido,</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <div  class="ion-padding">
    <ion-label color="medium">Inicia sesión para continuar !</ion-label>
  </div>

  <form novalidate (ngSubmit)="login()" [formGroup]="formLogin" mode="ios">
    <ion-item color="transparent">
      <ion-label  position="stacked">Correo Electrónico:</ion-label>
      <ion-input type="email" placeholder="ejemplo@gmail.com" formControlName="email"></ion-input>
    </ion-item>
    <ion-item color="transparent">
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input type="password" placeholder="Tu Contraseña" formControlName="password"></ion-input>
    </ion-item>
    <a routerLink="" class="forgot-password-link">Olvidaste tu contraseña?</a>

    <ion-button type="submit" routerLink="/agregar-informe">Ingresar</ion-button>
    <br>
    <hr class="solid">
    <ion-button class="gradient" (click)="loginGoogle()">
      Usar cuenta de Google 
      <ion-icon slot="end" name="logo-google"></ion-icon>
      
    </ion-button>
    
  </form>
  <p class="footer-text">No tengo cuenta, <a routerLink="/register">Crear una</a></p>
</ion-content>