<ion-content class="ion-padding" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">Bienvenido,</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <div  class="ion-padding">
    <ion-label color="medium">Inicia sesión para continuar !</ion-label>
  </div>

  <form novalidate (ngSubmit)="login()" [formGroup]="formLogin" mode="ios">
    <ion-item color="transparent">
      <ion-label  position="stacked">Correo Electrónico:</ion-label>
      <ion-input aria-label="Email" type="email" placeholder="ejemplo@correo.com" formControlName="email"></ion-input>
    </ion-item>
    <ion-item color="transparent">
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input aria-label="Contraseña" type="password" placeholder="Tu Contraseña" formControlName="password"></ion-input>
    </ion-item>
    <ion-label (click)="AbrirModalCambiarContrasena(true)" class="forgot-password-link">Olvidaste tu contraseña?</ion-label>

    <ion-button type="submit" >Ingresar</ion-button>
    <br>
    <hr class="solid">


    <!-- CUENTA DE GOOGLE -->
    <!-- <ion-button color="tertiary" (click)="loginGoogle()">
      Usar cuenta de Google 
      <ion-icon slot="end" name="logo-google"></ion-icon>
      
    </ion-button> -->
    
  </form>
  <p class="footer-text">No tengo cuenta, <ion-label (click)="setOpen(true)" color="primary" style="font-weight: bold; cursor: pointer;" >Crear una</ion-label></p>




  <ion-modal [isOpen]="isModalOpen"  (willDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Creación de Cuenta</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="setOpen(false)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form style="margin-top: 0;" novalidate (ngSubmit)="register()" [formGroup]="formRegister"  mode="ios">
    
          <ion-item color="transparent">
            <ion-label  position="stacked">Nombre:</ion-label>
            <ion-input aria-label="Nombre" [value]="name" (input)="setName($event)" type="text" placeholder="Nombre Completo" ></ion-input>
          </ion-item>
          
          <ion-item color="transparent">
            <ion-label  position="stacked">Correo Electrónico:</ion-label>
            <ion-input aria-label="Correo" (input)="setEmail($event)" [value]="email" type="email" placeholder="ejemplo@correo.com" formControlName="email"></ion-input>
          </ion-item>
          <ion-item color="transparent">
            <ion-label position="stacked">Contraseña:</ion-label>
            <ion-input aria-label="Contraseña" type="password" (input)="setPassword1($event)" placeholder="Tu Contraseña" formControlName="password"></ion-input>
          </ion-item>
          <ion-item color="transparent">
            <ion-input aria-label="Contraseña" (input)="setPassword2($event)"  type="password" placeholder="Confirmar Contraseña" formControlName="password"></ion-input>
          </ion-item>
          
          <ion-button type="submit">Crear Cuenta</ion-button>
          <ion-label style="font-size: small; text-align: center; color: gray;">Al registrarse deberá esperar a recibir acceso del Secretario de Congregación. </ion-label>
        </form>
        
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalContrasenaOpen" (willDismiss)="AbrirModalCambiarContrasena(false)">
    <ng-template>
      <ion-toolbar>
        <ion-title>Olvidaste tu Contraseña?</ion-title>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="AbrirModalCambiarContrasena(false)">Cancelar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content class="ion-padding">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Cambio de Contraseña</ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>

            <p style="padding: 6px;"> 
              Ingrese su dirección de correo electrónico, 
              y si su cuenta existe se le enviará un correo con un enlace (link) 
              para ingresar una contraseña nueva.
            </p>

            <ion-item >
              <ion-label  position="stacked">Correo Electrónico:</ion-label>
              <ion-input [(ngModel)]="CorreoCambiarContrasena" aria-label="Correo" (input)="setEmail($event)" [value]="email" type="email" placeholder="ejemplo@correo.com"></ion-input>
    
            </ion-item>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col class="ion-text-center">
                  <ion-button (click)="CambiarContrasena()"  fill="clear" style="font-weight: bold;"  >
                    Enviar Correo Electrónico
                    <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <p style="padding: 6px;"> 
              Después de ser enviado favor de revisar su buzón de correo electrónico,
              en caso de no encontrarlo verificar su buzón de SPAM o correo no deseado
            </p>
          </ion-card-content>
        </ion-card>

        <br><br>

        <!-- <ion-card color="warning"  *ngIf="IsCorreoEnviado">
          <ion-card-header class="ion-padding">
            <ion-card-title>Correo Enviado</ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content style="padding: 6px;">
            Revise su correo electrónico, una vez cambiada la contraseña podrá iniciar sesión con correo y su nueva contraseña
          </ion-card-content>
        </ion-card> -->
      </ion-content>
      
      
    </ng-template>
  </ion-modal>

</ion-content>