<ion-header [translucent]="false" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button id="open-modal"> <ion-icon name="calendar-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Asistencia a Reuniones Semanales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  size="large">Asistencia a Reuniones Semanales</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{stringDate}}</ion-card-title>
      <ion-card-subtitle>Registro de Asistencia</ion-card-subtitle>
      
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="GenerarReporte()">
        Generar Reporte de Asistencia
      </ion-button>

      
      <ion-card-title *ngIf="reporteGenerado" >Reporte de Asistencia</ion-card-title>
      <div *ngIf="reporteGenerado" class="table-responsive">
        <table style="color: black;">
          <thead>
            <tr style="text-align: center;">
              <th>Reunión</th>
              <th>Suma</th>
              <th>Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ion-label style="font-weight: bold;">Entre Semana ({{reporteAsistencia.cantidadReunionesEntreSemana                }})</ion-label>
              </td>
              <td>
                <ion-label >{{reporteAsistencia.sumaEntreSemana}}</ion-label>
              </td>
              <td>
                <ion-label>{{reporteAsistencia.promedioEntreSemana}}</ion-label>
              </td>
            </tr>
            <tr>
              <td>
                <ion-label style="font-weight: bold;">Fin de Semana ({{reporteAsistencia.cantidadReunionesFinSemana}})</ion-label>
              </td>
              <td>
                <ion-label >{{reporteAsistencia.sumaFinSemana}}</ion-label>
              </td>
              <td>
                <ion-label>{{reporteAsistencia.promedioFinSemana}}</ion-label>
              </td>
            </tr>
          </tbody>
        </table>
  
        
        
      </div>
    </ion-card-content>



    <!-- <input type="month" id="start" name="start" min="2018-03" value="2018-05" /> -->
    <div *ngFor="let week of weeks">

      <ion-card-header>
        <ion-card-subtitle>Semana del {{week.start}} al {{week.end}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-input [(ngModel)]="week.entreSemana"  label="Entre Semana" labelPlacement="stacked" placeholder="Asistencia" type="number" inputmode="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="week.finSemana" label="Fin de Semana" labelPlacement="stacked" placeholder="Asistencia" type="number" inputmode="tel"></ion-input>
          </ion-item>
        </ion-list>
        
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button (click)="guardar(week.anio,week.mes,week.start,week.entreSemana,week.finSemana)"  fill="clear" style="font-weight: bold;"  >
                Guardar
                <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    
      </ion-card-content>
    </div>
    
  </ion-card>

  
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mes y Año</ion-card-title>
            <ion-card-subtitle>Selección de Fecha</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-datetime size="cover" [(ngModel)]="wheelDate"  (ngModelChange)="showdate()" locale="es-MX" style="--background: translucent; --background-rgb: transluscent" presentation="month-year"></ion-datetime>
        
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{stringDate}}</ion-card-title>
            <ion-card-subtitle>Registro de Asistencia</ion-card-subtitle>
            
          </ion-card-header>
          <div *ngFor="let week of weeks">

            <ion-card-header>
              <ion-card-subtitle>Semana del {{week.start}} al {{week.end}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list>

                <ion-item>
                  <ion-input *ngIf="week.start!==3" label="Entre Semana" labelPlacement="stacked" placeholder="Asistencia" type="number"></ion-input>

                  
                  <ion-input *ngIf="week.start===3" label="Entre Semana" labelPlacement="stacked" placeholder="Asistencia" type="number" value="192" readonly="true"></ion-input>
                  
                  <ion-button *ngIf="week.start!==3" >Guardar</ion-button>
                  
                  
                  <ion-button color="warning" *ngIf="week.start===3" >Editar</ion-button>
                </ion-item>
                <ion-item>
                  <ion-input label="Fin de Semana" labelPlacement="stacked" placeholder="Asistencia" type="number"></ion-input>
                  <ion-button>Guardar</ion-button>
                </ion-item>
              </ion-list>
              
          
            </ion-card-content>
          </div>
          
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid> -->

  
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons> -->
          <ion-title>Seleccionar Fecha</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Aceptar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mes y Año</ion-card-title>
            <ion-card-subtitle>Selección de Fecha</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-datetime size="cover" [(ngModel)]="wheelDate"  (ngModelChange)="showdate()" locale="es-MX" style="--background: translucent; --background-rgb: transluscent" presentation="month-year"></ion-datetime>
        
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
