<ion-header [translucent]="false" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button id="open-modal-informe"> <ion-icon name="calendar-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Informes de Predicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  size="large">Informes de Predicación</ion-title>
      
      
      
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-select aria-label="Grupos de Predicación" interface="popover" value="Todos">
        <ion-select-option value="Todos">Todos los Grupos</ion-select-option>
        <ion-select-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" value={{number}}  >Grupo {{number}}</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>


  
  
  <ion-modal trigger="open-modal-informe" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            
          </ion-buttons>
          <ion-title>Seleccionar</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Aceptar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mes y Año</ion-card-title>
            <ion-card-subtitle>Selección de Fecha</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-datetime size="cover" [(ngModel)]="wheelDate"  (ngModelChange)="showdate()" locale="es-MX" style="--background: translucent; --background-rgb: transluscent" presentation="month-year"></ion-datetime>
        
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  
  
  
 
  <ion-card>

    <ion-card-header>
      <ion-card-title>{{stringDate}}</ion-card-title>
      <ion-card-subtitle>Registro de Informes</ion-card-subtitle>
      
    </ion-card-header>


    <!-- <ion-label style="padding-left: 15px;">Usar TAB para desplazarse entre celdas </ion-label> -->

    <div id="TABLAS " *ngFor=" let grupo of Grupos" style="padding-top: 15px;">
      <ion-item-divider>
        <ion-label> Grupo {{grupo.id}} </ion-label>
      </ion-item-divider>

      <div class="table-responsive" >

        <table mat-table style="background-color: transparent;" [dataSource]="dataSource" class="mat-elevation-z8">
    
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> <ion-label color="dark">No.</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
              <ion-item color="none"  lines="none">
                <ion-input  value="{{element.position}}" > </ion-input>
              </ion-item>
            </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Nombre</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
              <ion-item class="ion-no-padding" color="none"  lines="none">
                <p  style="font-size: small; font-weight: bold;" >{{element.nombre}} </p>
              </ion-item>
            </td>
          </ng-container>
        
          <!-- hours Column -->
          <ng-container matColumnDef="horas">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Horas</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
              <ion-item class="ion-no-padding"  color="none"  lines="none">
                <ion-input  [ngClass]="{ 'greyedOut':element.horas == 0 }"  [(ngModel)]="element.horas"  type="number" inputmode="tel" placeholder="Agregar"> </ion-input>
                
                <!-- <ion-input  value="{{element.horas}}"   type="number" inputmode="tel" placeholder="Agregar"> </ion-input> -->
              </ion-item>   
            </td>
          </ng-container>
  
          <ng-container matColumnDef="publicaciones">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Publicaciones</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
              <ion-item class="ion-no-padding"  color="none"  lines="none">
                <ion-input  [ngClass]="{ 'greyedOut':element.publicaciones == 0 }"  [(ngModel)]="element.publicaciones" type="number" inputmode="tel" placeholder="Agregar"> </ion-input>
              </ion-item>   
            </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="videos">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Videos</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
            
              <ion-item class="ion-no-padding"  color="none"  lines="none">
                <ion-input [ngClass]="{ 'greyedOut':element.videos == 0 }"  [(ngModel)]="element.videos" placeholder="Agregar" type="number" inputmode="tel"> </ion-input>
              </ion-item>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="revisitas">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Revisitas</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
             
              <ion-item class="ion-no-padding"  color="none"  lines="none" >
                <ion-input  [ngClass]="{ 'greyedOut':element.revisitas== 0 }"  [(ngModel)]="element.revisitas" placeholder="Agregar" type="number" inputmode="tel"> </ion-input>
              </ion-item>
            </td>
          </ng-container>
          <ng-container matColumnDef="cursos">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Cursos</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
            
              <ion-item class="ion-no-padding"  color="none"  lines="none">
                <ion-input [ngClass]="{ 'greyedOut':element.cursos == 0 }"  [(ngModel)]="element.cursos" placeholder="Agregar" type="number" inputmode="tel"> </ion-input>
              </ion-item>
              
            </td>
          </ng-container>
          <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> <ion-label style="font-weight: bold;" color="dark">Observaciones</ion-label> </th>
            <td mat-cell *matCellDef="let element"> 
            
              <ion-input [ngClass]="{ 'greyedOut':element.observaciones == '' }" style="min-width: 50px;" [(ngModel)]="element.ovservaciones" placeholder="Agregar Obs."  > </ion-input>
              

              <ion-item class="ion-no-padding">
                <ion-select  placeholder="Seleccionar" value="publicador">
                  <ion-select-option value="publicador">Publicador</ion-select-option>
                  <ion-select-option value="auxiliar">Precursor Auxiliar</ion-select-option>
                  <ion-select-option value="regular">Precursor Regular</ion-select-option>
                  <ion-select-option value="especial">Precursor Especial</ion-select-option>
                </ion-select>
              </ion-item>

              <!-- <ion-button fill="clear" slot="icon-only" ><ion-icon name="add-circle-outline"></ion-icon></ion-button> -->
              
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    
    
    
  </ion-card>

  
  
  

<ion-label style="padding: 15px; ">Girar en caso de utilizar dispositivo móvil</ion-label>

</ion-content>
