<ion-header [translucent]="false" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Emergencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Emergencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sección Emergencia</ion-card-title>
      <ion-card-subtitle>En desarrollo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Sección pensada para casos de emergencia en los que sea necesario 
      obtener toda la información de contacto de los publicadores, o bien, 
      borrar toda la base de datos si hay persecusión por el gobierno
    </ion-card-content>
  </ion-card>
</ion-content>
